/* Layout */

/* Override some defaults */

html, body {
	background-color:#EEEEEE;
}

body {
	padding-top:40px;
}

.container, .navbar-fixed-top .container {
	width:820px;
}

body > .container {
	background-color:#FFFFFF;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
	-o-border-top-left-radius:0;
	-ms-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
	-o-border-top-right-radius:0;
	-ms-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	-o-border-bottom-right-radius:6px;
	-ms-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	-o-border-bottom-left-radius:6px;
	-ms-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.148438) 0px 1px 2px;
	box-shadow:rgba(0, 0, 0, 0.148438) 0px 1px 2px;
	-o-box-shadow:rgba(0, 0, 0, 0.148438) 0px 1px 2px;
	-ms-box-shadow:rgba(0, 0, 0, 0.148438) 0px 1px 2px;
	-moz-box-shadow:rgba(0, 0, 0, 0.148438) 0px 1px 2px;
}

/* Change the sites' brand */

body > .navbar .brand {
	padding-right:0;
	padding-left:0;
	margin-left:20px;
	float:right;
	font-weight:bold;
	color:#000000;
	text-shadow:rgba(255, 255, 255, 0.0976563) 0px 1px 0px, rgba(255, 255, 255, 0.121094) 0px 0px 30px;
	-webkit-transition-property:all;
	transition-property:all;
	-o-transition-property:all;
	-ms-transition-property:all;
	-moz-transition-property:all;
	-webkit-transition-duration:0.2s;
	transition-duration:0.2s;
	-o-transition-duration:0.2s;
	-ms-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-webkit-transition-timing-function:linear;
	transition-timing-function:linear;
	-o-transition-timing-function:linear;
	-ms-transition-timing-function:linear;
	-moz-transition-timing-function:linear;
	-webkit-transition-delay:initial;
	transition-delay:initial;
	-o-transition-delay:initial;
	-ms-transition-delay:initial;
	-moz-transition-delay:initial;
}

body > .navbar .brand:hover {
	text-decoration:none;
	text-shadow:rgba(255, 255, 255, 0.0976563) 0px 1px 0px, rgba(255, 255, 255, 0.398438) 0px 0px 30px;
}

/* Page header tweaks */

section > .page-header, section > .lead {
	color:#5A5A5A;
}

.subhead {
	padding-bottom:0;
}

.mission {
	margin-top:30px;
}

.mission p {
	color:#5A5A5A;
	text-align:center;
}

.mission p a {
	color:#5A5A5A;
	font-weight:bold;
}

/* The white background content wrapper */

.content {
	padding:20px;
}

.footer {
	margin-top:20px;
}

.footer p {
	text-align:center;
}

