/* CONTAINER */
                body {
                     -webkit-text-size-adjust: 100%;
               }

                #container {
                        width: 960px;
                        margin: 0 auto;
                        font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; /* Lucida Grande for Macs, Tahoma for PCs */
                        font-size: 12px;
                        line-height: 1.6em;
                        color: #000000;
                        background-color: #FFF;
                }

/* HEADER */
                
                #header {
                        padding-top: 10px;
                        clear: both;
                        margin-bottom: 10px;
                }
                
                #header p { 
                        margin-top: -20px;
                        margin-left: 30px;
                        color: #999999;
                }
                

/* FONTS AND THINGS */

                h1 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: normal;
                        font-size: 32px;
                        color: #57068c;
                        margin-bottom: 30px;
                        background-color: #FFF;
                }
                
                h2 {
                        color: #57068c;
                        font-size: 16px;
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: #FFF;
                }
                
                h3 {
                        font-size: 11px;
                        font-weight: bold;       
                        font-family: Arial, Helvetica, sans-serif;
                }
                
                a {                                      
                        color:#57068c;
                        text-decoration: none;
                }

                a:hover {
                        color:#57068c;
                        text-decoration: underline;
                }                 
                
                img.floatleft {
                        float: left;
                        margin: 7px 20px 0px 10px;
                }

                img.floatright {
                        float: right;
                        margin: 20px 0px 3px 0px;
                }

                img.fltright {
                        float: right;
                        margin: 0px 0px 0px 10px;
                }

                img.fltleft {
                        float: left;
                        margin: 0px 10px 0px 0px;
                }
/* NAVIGATION MENU */

                #menu {
                        width: 960px;
                        margin-top: -5px;
                        border-top: 2px solid #DDDDDD;
                        border-bottom: 2px solid #DDDDDD;
                        margin-bottom: 20px;
                        clear: both;
                }
                
                #menu p {
                          line-height: 1.6em;
                          padding-bottom: 0px;
                          padding-top: 0px
                        } 
                
                #menu a {
                        line-height: 2em;
                        padding-left: 10px;
                        padding-right: 10px;
                        color: #000000;
                        font-weight: bold;        
                        text-decoration: none;
                } 
                
                #menu a:hover   {
                        color: #000000;
                        text-decoration: underline;
                }
                
/* CONTENT ELEMENTS */

                #content {
                        width: 692px;
                        margin-left: 0px;
                        margin-right: 180px;
                }
                
                #contentwide {
                        width: 952px;
                        margin-left: 0px;
                        margin-right: 0px;
                }
                
                #contentwide h1 {
                        color: #57068c;
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        background-color: #FFF;
                }

                #contentwide h4 {
                        color: #57068c;
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        background-color: #FFF;
                }
                
                #contentwide p.a {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #DDDDDD; /* A faint grey line below the text */
                }
                
                #content p {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #DDDDDD; /* A faint grey line below the text */
                }

                #content p.a {
                        padding-bottom: 10px;
                        border-bottom: 0px;
                }


                #content ul {
                        padding-bottom: 10px;                            
                        width: 680px;
                        margin-left: 0px;
                        padding-left: 12px; 
                        border-bottom: 1px solid #DDDDDD; /* A faint grey line below the text */
                }

                #content ul.a {
                        padding-bottom: 10px;                            
                        width: 680px;
                        margin-left: 0px;
                        padding-left: 12px; 
                        border-bottom: 0px;
                }

                
/* SIDEBAR ELEMENTS */

                #sidebar {
                        float: right;
                        width: 225px;
                }
                
                #sidebar p {
                        padding-bottom: 10px;
                        border-bottom: 1px dotted #CCC;
                }

/* FOOTER ELEMENTS */

                #footer {
                        margin-top: 0px;
                        clear: both;                     
                        padding: 0px 0px 0px 0px;
                }
                
                #footer p {
                        color:#89817f;
                        padding: 5px;                   
                        border-bottom: 2px solid #DDDDDD;
                        text-align: left;          
                }
                 
