<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>







<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /><title>Vijay Ganesh</title>

<link href="stevestyle.css" rel="stylesheet" type="text/css" /></head><body>
<div class="a" id="container">
<div id="header">
  <img src="assets/Engineering_web.gif" class="floatright" alt="Waterloo" />
  
<h1>Vijay Ganesh<small><small><small><small><br />
<br />
<span style="color: rgb(204, 0, 0);">&nbsp;<span style="font-weight: bold; color: black;">Assistant Professor, University of Waterloo</span></span></small></small><br />
</small></small>
 </h1>

  
</div>
	
<div id="menu">	
  <a href="index.html">Home</a> | <a href="briefbio.html">Brief Bio</a> |
  <a href="publications.html">Publications</a> |
      <a href="research.html">Research</a> |
   <a href="teaching.html">Teaching</a> |
  	  <a href="group.html">Research Group</a>|<a href="awards.html">Awards</a>|<a href="software.html">Software</a>|<a href="invitedtalks.html">Invited Talks |</a><a href="interests.html">Interests/Links</a>
</div><big style="color: rgb(0, 102, 0);"><big><big><big><b><span style="font-size: 16pt;" /></b><span style="font-family: serif;" /></big></big><small>Constraint Solvers (aka SMT Solvers)</small></big></big><br />
<br />

      
  
      
<ul style="margin-top: 0in;" type="disc">

   <li class="MsoNormal" style=""><a href="http://www.cs.purdue.edu/homes/zheng16/str/">Z3-str</a>: A constraint solver for strings (aka word equations or free semi-groups) and length function<br />
</li>
  <li class="MsoNormal" style=""><a href="http://people.csail.mit.edu/vganesh/stp.html">STP</a>: A constraint solver for bit-vectors and arrays</li>

   <li class="MsoNormal" style=""><a href="http://people.csail.mit.edu/akiezun/hampi">Hampi</a>: A solver for string constraints (An extension of <a href="http://people.csail.mit.edu/vganesh/stp.html">STP</a>)</li>
  <li class="MsoNormal" style=""><a href="Publications_files/vg2012-PROGRAMMATIC-SAT-2012.pdf">Lynx</a>: A programmatic SAT solver (Uses a variation on the DPLL(T) idea)<br />
  </li>

        
  

        
</ul>

      
      

      
  
      
<p class="MsoNormal" style=""><big style="color: rgb(0, 102, 0);">Automated Error
  Finding Tools</big>&nbsp;</p>

      
  
      
<ul style="margin-top: 0in;" type="disc">

   
        
        <li class="MsoNormal" style=""><a href="http://kjayaram.mysite.syr.edu/mohawk/Mohawk.html">Mohawk</a>: Automatic Error Finding in Access-Control Policies</li>

        
        <li class="MsoNormal" style=""><a href="buzzfuzz.html">BuzzFuzz</a>: A Dynamic Taint-based
       Directed Fuzzing Tool</li>


   
        <li class="MsoNormal" style=""><a href="http://people.csail.mit.edu/akiezun/jfuzz">jFuzz</a>: A Concolic Whitebox Fuzzer for Java</li>
</ul>
<big style="color: rgb(0, 102, 0);">Older Software Projects</big><br />
<br />

  
  
<ul style="margin-top: 0in;" type="disc">
<li class="MsoNormal" style="text-align: justify;"><a href="http://verify.stanford.edu/CVCL">CVC Lite</a>:
       A decision procedure for the combined theory of linear integer and real
       arithmetic, bit-vectors, arrays and functions. I worked on the
       bit-vector part. I also collaborated on CVC, the predecessor of CVC Lite.</li><li class="MsoNormal" style="text-align: justify;"><a href="Past_Software_Projects_files/mobile-code-security.html">Mobile
       Code Security</a> (not supported since 1999)&nbsp;</li><li class="MsoNormal" style="text-align: justify;"><a href="Publications_files/vg1999-EXPRESSION-DATE.pdf">Retargetable</a>
       Compilers</li>
  <li class="MsoNormal" style="text-align: justify;">Texas Instruments Digital Signal Processor (DSP)
       instruction set simulators</li>
</ul></div>



</body></html>
